body {
  margin-top: 10px;
  background-color: lightpink;
  text-align: center;
  font-family: 'Henny Penny', cursive;
  background-image: radial-gradient(#f53b79 20%, transparent 20%),
  radial-gradient(lightpink 20%, transparent 20%);
  background-color: #fc0478;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
 }

button {
  background-color: rgb(207, 66, 137);
  color: pink;
  border-radius: 0.75rem;
  padding: 10px;
}

h1 {
  color: rgb(85, 2, 43);
  border: 2px dotted rgb(255, 0, 127);
  margin: 6px;
  padding: 6px;
}

h3 {
  color:rgb(216, 8, 88);
}

#plant1 {
  background-color: lightpink;
  width: 400px;
}